@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

 * {
  outline: 1px solid red;
  outline-offset: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  display:block;
  margin: 0 0 0 70px;
  position: absolute;
}

.navigation-list {
  margin: 0 0 0 239px;
  padding: 0;
  width: 450px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.navigation-user {
  margin: 0 70px 0 237px;
  padding: 0;
  width: 264px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    text-decoration-line: none;
    text-align: center;
    color: #000000;
    margin: 0;
    display: block;
    padding: 20px 17px 19px 17px;
}

.main-container {
    flex-grow: 1;
}

.main-background {
  background-color:#000000;
  background-image: url("../images/content/logo/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
}

.welcome {
  display: block;
  margin: 0 0 63px 0;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 371px;
  padding-right: 371px;
}

.slogan {
  background-color:#ffffff;
}

.slogan-title {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom:  31px;

}

.slogan-description {
  margin-top: 0;
  margin-bottom: 90px;
  text-align: center;
}

.advantages-of-hotel-list {
  margin: 0 auto;
  margin-bottom: 91px;
  padding: 0;
}

.advantages-item {
  display: flex;
  min-height: 384px;
  min-width: 400px;
  flex-wrap: wrap;
}

.advantages-photo {
  display: flex;
  max-height: 384px;
}

.advantages-icon {
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-icon-house {
  content: url(../images/decor/advantages/house.svg);
}

.advantages-icon-burger {
  content: url(../images/decor/advantages/burger.svg)
}

.advantages-icon-gift {
  content: url(../images/decor/advantages/gift.svg)
}

.advantages-text-number-one {
  width: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 92px 85px 92px 85px;
}

.advantages-text-number-two {
  width: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 92px 85px 92px 85px;
}

.advantages-text-with-images {
  width: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 80px 85px 81px 85px;
}

.advantages-text-without-images {
  width: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 103px 85px 102px 85px;
}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-with-image {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
}

.section-number {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-darkblue {
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-item-lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-white{
background-color: #FFFFFF;
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 29px;
}

.search-paragraph {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  Width: 592px;
}

.search-paragraph-second-line {
  display: block;
  text-align: left;
}

.search-button {
  background-color: #756157;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  padding: 12px 15px;
  margin: 0 auto;
  margin-bottom: 93px;
  max-width: fit-content;
}

.search-button-link {
  font-weight: 700;
  font-size: 20px;
  line-height:36px;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  min-width: 544px;
  justify-content: center;
  text-align: center;
}

.main-footer-background {
  background: url("../images/decor/background-main.jpg");
  background-color: #82B3D3;
  width: 1200px;
  min-height: 411px;
  background-repeat: no-repeat;
}

.catalog-footer-background{
  background-color:#ffffff;
  width: 1200px;
  min-height: 411px;
}

.footer-title {
  color:#ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  padding: 94px 0 29px 0;
}

.catalog-footer-title {
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  padding: 94px 0 29px 0;
}

.footer-description {
  color:#ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 46px 0;
}

.catalog-footer-description {
  color:#000000;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 46px 0;
}

.footer-subscription-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 94px;
}

.footer-subscription-form-input{
  background-color: #F2F2F2;
  font-family: inherit;
  color:rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 21px;
  padding: 20px 22px 19px 22px;
  border: none;
  border-radius: 10px 0 0 10px;
  Width: 556px;
  outline: none;
}

.footer-subscription-form-submit {
  background-color: #82B3D3;
  font-family: inherit;
  color:#ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 15px 12px 15px;
  border: none;
  border-radius: 0 10px 10px 0;
  min-width: 200px;
}

.catalog-footer-subscription-form {
  text-align: center;
}

.footer-social-list {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
}

.footer-area {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 40px;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
}

.footer-social-button {
  margin: 0 auto;
}

.footer-social-item {
  margin: 0;
  padding: 0;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-phone-number {
  color: #000000;
  text-decoration: none;
}

.button-youtube {
  content: url(../images/decor/social/youtube-logo.svg);
  text-decoration: none;
  color:#000000;
}

.button-vk {
  content: url(../images/decor/social/vk-logo.svg);
  text-decoration: none;
  color:#000000;
}

.button-telegram {
  content: url(../images/decor/social/telegram-logo.svg);
  text-decoration: none;
  color:#000000;
}


.button-html-academy {
  content: url(../images/decor/HTML-Academy.svg);
  text-decoration: none;
  color: #000000;
}

.inner-header {
  background-image: url(../images/decor/background-filter.jpg);
  background-color:#4b6a7e;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 1060px;
  min-height: 298px;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  margin: 0 auto;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item-home {
  content: url(../images/decor/breadcrumbs/breadcrumbs-home.svg);
  color:#ffffff;
  text-decoration: none;
  padding: 5px 10px 5px 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  padding: 0 10px 0 10px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.catalog-filter-form {
  margin: 40px 0 0 0;
  width: 1060px;
  height: 149px;
  display: flex;
}

.catalog-filter-form-left{
  width: 366px;
  height: 149px;
  display: flex;
}

.catalog-filter-form-right{
  width: 519px;
  height: 148px;
  margin: 0 0 0 176px;
}

.catalog-filter-buttons {
  width: 161px;
  height: 88px;
  margin: 60px 0 0 70px;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.button-filter-submit {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  padding: 14px 15px 14px 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-family: inherit;
}

.button-filter-reset {
  background-color:rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border: none;
  font-family: inherit;
}

.search-result-area {
  Width:1057px;
  min-Height:49px;
  display: flex;
  margin: 50px 71px 56px 72px;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 529px;
  height: 100%;
  text-transform: uppercase;
  padding: 8px 0 5px 0;
  margin: 0 auto;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color:#333333;
  Width: 290px;
  margin: 0 78px 0 0;
  border-radius: 4px;
  Height:49px;
}

.search-control {
  width: 160px;
  height: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.search-control a {
  text-decoration: none;
  color:#000000;
}

.search-control-cards {
  content: url(../images/decor/sorting/icon-table.svg);
  width: 16px;
  height: 14px;
  padding: 17px 16px 17px 16px;
  border-style: solid;
  border-color: #000000;
  border-radius: 4px;
  border-width: 2px;
  margin: 0 4px 0 0;
  list-style: none;
}

.search-control-slide {
  content: url(../images/decor/sorting/icon-slideshow.svg);
  width: 16px;
  height: 14px;
  padding: 17px 16px 17px 16px;
  border-style: solid;
  border-color: #000000;
  border-radius: 4px;
  border-width: 2px;
  margin: 0 4px 0 4px;
}

.search-control-list {
  content: url(../images/decor/sorting/icon-list.svg);
  width: 16px;
  height: 14px;
  padding: 17px 16px 17px 16px;
  border-style: solid;
  border-color: #000000;
  border-radius: 4px;
  border-width: 2px;
  margin: 0 0 0 4px;
}

.result-of-search {
  min-Height: 876px;
  margin: 56px 71px 66px 73px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card {
  width: 300px;
  min-height: 398px;
  padding: 20px;
  margin-right: 18px;
  list-style: none;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card:nth-child(1n) {
  margin-left: 0;
}

.product-card-image {
  padding: 0 0 16px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.product-card-title {
  font-size: 24px;
  text-align: left;
  color: #000000;
  margin: 0 20px 16px 0;
  width: 100%;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  Width: 300px;
  Height: 28px;
}

.product-card-grid{
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.product-card-description-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
}

.product-card-button-more {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #756157;
  padding: 9px 15px 8px 15px;
  text-align: center;
  border-radius: 4px;
}

.product-card-button-favorite {
  background-color:#82B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  padding: 9px 15px 8px 15px;
  text-align: center;
  border-radius: 4px;
}

.product-card-button-favorite-active {
  background-color: #7DB54F;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  padding: 9px 15px 8px 15px;
  text-align: center;
  border-radius: 4px;
}

.four-stars {
  background-image: url(../images/decor/four-stars.svg);
  width: 140px;
  height: 37px;
  vertical-align: middle;
}

.three-stars {
  background-image: url(../images/decor/three-stars.svg);
  width: 140px;
  height: 37px;
  vertical-align: middle;
}

.two-stars {
  background-image: url(../images/decor/two-stars.svg);
  width: 140px;
  height: 37px;
  vertical-align: middle;
}

.product-card-button-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color:#F2F2F2;
  padding: 9px 22px 8px 23px;
  vertical-align: center;
  border-radius: 4px;
}

.pagination-area {
  width: 1056px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.pagination-area-settings {
  display: flex;
  justify-content: space-between;
  min-width: 386px;
  margin: 0;
  padding: 0;
}

.count-of-items {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}

.count-of-items-shown {
  display: flex;
}

ul.pagination{
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-align: center;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.pagination-item:nth-last-child(1){
  margin-right: 0;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color:#F2F2F2;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding-top: 12px;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding-top: 12px;
}
